@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Inter";
		src: url("/fonts/Inter-Regular.woff2") format("woff2"),
			url("/fonts/Inter-Regular.woff") format("woff");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Inter";
		src: url("/fonts/Inter-Bold.woff2") format("woff2"),
			url("/fonts/Inter-Bold.woff") format("woff");
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}

	:root {
		color-scheme: dark;
	}

	input[type="number"]::-webkit-outer-spin-button.hide-spinner,
	input[type="number"]::-webkit-inner-spin-button.hide-spinner {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type="number"].hide-spinner {
		-moz-appearance: textfield;
		appearance: "textfield";
	}
}
